@media only screen and (max-width: 600px) {
  .trackPhoto {
    width: 330px;
    height: 330px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1280px) {
  .trackPhoto {
    width: 330px;
    height: 330px;
  }
}

@media only screen and (min-width: 1280px) {
  .trackPhoto {
    width: 450px;
    height: 450px;
  }
  .trackTitle {
    font-size: 40px;
  }
}

.trackMainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-left: 30px;
  padding-right: 30px;
  /* adding margin top to all components */
  margin-top: 20px;

  /* adding padding to all componets to account for pop up player div */
  padding-bottom: 122px;
}

.trackPhoto {
  cursor: pointer;
}

.trackTrackInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trackTitlePlayDiv {
  display: flex;
  align-items: center;
}

.playButton {
  padding: "0px";
  margin: "0px";
}

.trackTitle {
  font-family: Quantify;
}

.trackArtists {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trackArtistLink {
  cursor: pointer;
  text-decoration: none;
  color: rgb(234, 162, 42);
}

.trackArtistLink:hover {
  text-decoration: underline;
}
