.navMainContainer {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: black;
  margin-bottom: 20px;
}

.navList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px;
}

.navItem {
}

.navLink {
  text-decoration: none;
  color: white;
}

.navLink.active {
  color: #eaa128;
}
