@media only screen and (max-width: 600px) {
  .liveMainContainer {
    flex-direction: column;
    align-items: center;
  }
  .phantomContainer {
    display: none;
  }
  .playerContainer {
    /* width: 90%; */
    width: 95%;
  }
  .chatContainer {
    width: 90%;
  }
  .streamMsg {
    font-size: 10px;
  }
  .liveTitle {
    font-size: 25px;
  }
  .liveInvitation {
    font-size: 12px;
  }
  /* .setTime {
    font-size: 12px;
  } */
}

@media only screen and (min-width: 600px) and (max-width: 1280px) {
  .liveMainContainer {
    flex-direction: row;
    justify-content: center;
  }
  .phantomContainer {
    display: none;
  }
  .playerContainer {
    width: 70%;
  }
  .chatContainer {
    display: none;
  }
  .streamMsg {
    font-size: 10px;
  }
  .liveTitle {
    font-size: 25px;
  }
  .liveInvitation {
    font-size: 12px;
  }
  /* .setTime {
    font-size: 12px;
  } */
}

@media only screen and (min-width: 1280px) {
  .liveMainContainer {
    flex-direction: row;
  }
  .phantomContainer {
    width: 25%;
  }
  .playerContainer {
    width: 50%;
  }
  .chatContainer {
    width: 25%;
  }
  .liveTitle {
    font-size: 35px;
  }
}

.liveMainContainer {
  display: flex;
  gap: 10px;
  /* padding-left: 30px;
  padding-right: 30px; */
  padding-left: 10px;
  padding-right: 10px;
  /* adding margin top to all components */
  margin-top: 20px;
  /* adding padding to all componets to account for pop up player div */
  padding-bottom: 122px;
}

.streamMsg {
  text-align: center;
}

.playerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player {
  width: 100%;
}

.liveTitle {
  font-family: Quantify;
  text-align: center;
  color: rgb(234, 162, 42);
}

.liveInvitation {
  text-align: center;
}

/* .setListTitle {
  text-align: center;
}

.setTime {
  text-align: center;
}

.artistHandle {
  text-align: center;
  text-decoration: none;
  font-family: "Poppins", "sans-serif";
  color: #e64516;
}

.setList {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
} */
